* {
    font-family: 'Roboto';
}

.centered-holder {
    vertical-align: center;
    text-align: center;
}

#graph-and-selectors-table, #graph-and-selectors-cell {
    width: 100%;
}

#graph-cell, #selectors-cell {
    width: 50%;
}

#selectors-holder {
    margin-left: auto;
    margin-right: auto;
}

#graph-holder {
    height: 500px;
}

#table-holder {
    width: 100%;
}

.data-table {
    width: 100%;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}

.data-table tr {
    border: 1px solid black;
}

.data-table td {
    border: 1px solid black;
}

.data-table-cell {
    text-align: center;
}